/* New Arrivals Font */
@import url('https://fonts.googleapis.com/css2?family=Monda:wght@400..700&display=swap');
*{
    margin: 0;
    padding: 0px;
}
body{
    font-family: sans-serif;
}
.Container{
    width:80%;
    margin: 0 auto;
}
/* Side Buttons */
.btn-group{
  display: grid;
  gap: 15px;
  position: fixed;       
  bottom: 52%;          
  right: 0px;           
}
.btn{
  font-family: "Inter", sans-serif;
  text-decoration: none;
  padding: 12px 23px;
  font-size: 15px;
}
.btn.buy{
  background: rgb(84, 84, 239);
  color: white;
}
.btn.buy:hover{
  background: rgb(61, 61, 227);
}
.btn.customize{
  color: black;
  background: rgb(235, 229, 229);
}
.btn.customize:hover{
  color: #1d4fd8;
}
/* menu */
.menu-bar-container{
    height: 50px;
    width: 100%;
    padding: 10px 0;
}
.main-menu-box{
    width: 80%;
    height: 50px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    align-items: center;
    gap: 20px;
}
.menu{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 85%;
    text-align: center;
    justify-content: space-between;
}
.menu a{
    text-decoration: none;
    font-size: 16px;
    color: black;
}
.menu a:hover,.bucket-icon:hover{
    color: #ff334c;
}
/* menu icons */
.menu-icons{
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    cursor: pointer;
}
/* first Order off Box */
.first-order-off{
    background-color: black;
    height: 50px;
    width: 100%;
    color: white;
    display: grid;
    align-items: center;
    justify-items: center;
}
/* Bg content */
.bgImg{ 
    background-image: url(https://websitedemos.net/clothing-store-04/wp-content/uploads/sites/1538/2025/05/home-hero-bg.jpg);
    width: 100%;
     background-size: cover;
    background-position: center;
    height: 85vh;
}
/* Home page Img and CountDown Img Shade */
.imgShade{
    width: 100%;
    height: 85vh;
    background-color: rgba(0, 0, 0, 0.6);
}
.headerTitel{
    height: 85vh;
    color: white;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.headerTitel h1{
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 20px;
}
.headerTitel p{
    font-size: 17px;
    margin-bottom: 50px;
}
/* Explore Btn */
.exploreBtn{
     background-color: #fb2b44;
     color: white;
     height: 50px;
     width: 50%;
     border: none;
     border-radius: 50px;
}
.exploreBtn:hover{
    cursor: pointer;
    background-color: #ff334c;
}
/* New Arrivals Section */
.new-arrival-section{
    display: grid;
    grid-template-columns: 4fr 1fr ;
    height: 10vh;
    padding: 100px 0;
}
.New-Arrival h1{
    font-size: 40px;
    font-weight: 600;
    padding-bottom: 30px;
}
.New-Arrival p{
    color: #42383b;
}
.see-new-Btn button{
    height: 60px;
    width: 100%;
    border: 1px solid #ef233c;
    color: #ef233c;
    background-color: white;
    border-radius: 30px;
}
.see-new-Btn button:hover{
    background-color: #ef233c;
    color: white;
}
/* New Arrivals Images & Bestseller section */
.New-Arrival-Img, .best-Img{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}
.New-Arrival-Img img, .best-Img img{
    width: 100%;
}
 /* /New-Arival-Section/ */
.collection{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}
.Img{
    position: relative;
    right: 10px;
}
.iconBucket,.iconEye{
    height: 22px;
    width: 30px;
    border-radius: 25px;
    text-align: center;
    padding-top: 7px;
     box-shadow: 0px 4px 15px rgb(0, 0, 0, 0.15) ;
    position: absolute;
    font-size: 15px;
     background-color: rgb(245, 245, 238);
}
.iconBucket{
    top: 10px;
    right: 10px;
}
.iconEye{
    top: 45px;
    right: 10px;
}
.img-icon{
    display: none;
}
.Img:hover .img-icon{
    display: block;
    cursor: pointer;
}
/* 3 Images */
.Img-title{
    padding: 10px 0;
   font-family: "Monda", sans-serif;
}
.Img-title p{
    font-size: 16px;
    font-weight: 500;
}
.Img-title .para1{
    color: #8e8889;
    font-size: 15px;
}
.Img-title .para2{
    color: #42383b;
    font-weight: bold;
}
.size,.color{ padding: 5px 0;
}
 .size .Medium,.size .long,.size .twolong{
    height: 20px;
    width: 20px;
    background-color: white;
    border: 1px solid #c3c1c1;
}
.size .Medium:hover,.size .long:hover,.size .twolong:hover{
    cursor: pointer;
    border: 1px solid black;
}
.color .purple,.color .blue,.color .green,.color .grey{
    height: 15px;
    width: 15px;
    border-radius: 3px;
    border: none;
}
.purple{
   background-color: #8f3084;
}
.blue{
    background-color: #29808a;
}
.green{
    background-color: #7d922f;
}
.grey{
    background-color: #707070;
}
.purple:focus, .blue:focus, green:focus, .grey:focus{
     outline: 1px solid black;
     outline-offset: 3px;
}
.purple:hover, .blue:hover, .green:hover, .grey:hover{
    cursor: pointer;
    outline: 1px solid black;
    outline-offset: 2px;
}
/* End 3 Images */

/* Our categories */
.our-category{
    width: 100%;
    background-color: #f7eced;
}
.category-title{
    text-align: center;
    padding-top: 90px;
}
.category-title h1{
    font-size: 40px;
    font-weight: 600;
    line-height: 3;
}
.category-title p{
    color: #42383b;
}
.category-Img{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 100px;
    grid-gap: 20px;
}
.category-Img img{
    width: 100%;
    border: 2px solid black;
    border-radius: 30px;
}
/* Our category Image title */
.main-title-box{
   display: grid;
   justify-items: center;
   transform: translate(0, -50%);
}
.ImgTitle{
   height: 90px;
   width: 80%;
   display: grid;
   align-items: center;
    text-align: center;
   background-color: white;
   border-radius: 20px;
}
.ImgTitle a{
    text-decoration: none;
    color: #ef233c;
}
/* End Our Category */

/* Bestsellers section */
.bestseller-title{
    text-align: center;
    padding: 50px 0;
}
.bestseller-title h1{
    line-height: 2;
}
/* End Bestseller section */

/* Exclusive Section*/
.jacketsImage{
    padding: 150px 0px;
    padding-bottom: 30px;
}
.jacketsImage h1, .jacketsImage p{
    position: relative;
    top:5px
}
.jacketsImage p{
    top: 25px;
}
.imgSize1{
    margin-left: 15%;  
}
.imageGrial{
  width: 100%;
  height: 80vh;   
  margin-top: 5%;
  position: relative;
}
.color5{
     background-color: #f7EBED;
     width: 100%;
     height: 115%;
   }
.imageGrial img{
  width: 70%;
  height: 115%;
}
.imageGrial .data{
  position: absolute;
  top: 50%;
  left: 52%;
  transform: translateY(-50%);
  color: black;
  max-width: 450px;
  background-color: white;    
  padding: 50px 20px;
  padding-bottom: 90px;
  border-radius: 20px;
  margin-top: 15px;
}
.imageGrial .data h1{
   font-family: "Oswald", sans-serif;
  font-size: 28px;
  color: black;
  padding: 7px 10px;
  font-weight: bold;
}
.imageGrial .data p{
  font-family: "Inter", sans-serif;
  margin-bottom: 10px;
  font-size: 16px;
  padding: 7px 17px;
  line-height: 1.3;
}
.dataTag, .email button{
  font-family: "Inter", sans-serif;
  position: relative;
  top: 25px;
  left: 20px;
  background: #ff334c;
  color: #fff;
  padding: 12px 19px;
  text-decoration: none;
  border-radius: 25px;
  font-size: 14px;
}
/* CountDown Box */
.countDown-Img{
    background-image: url(https://websitedemos.net/clothing-store-04/wp-content/uploads/sites/1538/2025/05/counter-bg.jpg);
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}
.countDown-Img img{
    width: 100%;
}
.countDown-Img .imgShade{
    height: 100vh;
}
.middleContent{
    padding-top: 20%;
    height: 50vh;
    text-align: center;
    display: grid;
    justify-items: center;
    align-items: center;
    color: white;
}
.middleContent h1{
    font-size: 45px;
}
.timeBox{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 40%;
    grid-gap: 20px;
    text-align: center;
}
.time{
    background-color: white;
   /* width: 75%; */
    border-radius: 10px;
    height: 80px;
    display: grid;
    align-items: center;
    color: black; 
}
.Btnn button{   
    width: 100%;
    border-radius: 30px;
    border: none;
    padding: 15px 30px;
    background-color: #ef233c;
    color: white;
}
.Btnn button:hover{
    background-color: #ff334c;
    cursor: pointer;
}
/* What Our Shopkeeper Says */
.shopkeeperSays{
    height: 130vh;
    width: 100%;
}
.says-Text{
    height: 100vh;
    text-align: center;
    display: grid;
    justify-items: center;
}
.heading{
    width: 50%;
    height: 90px;
    margin-top: 10%;
}
.heading h1{
    font-size: 40px;
}
.heading p{
    font-size: 17px;
     color: #42383b;
     line-height: 1.7;
}
.three-Says{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    grid-gap: 10px;
    margin-top: 100px;
}
.jessica-Says, .darren-Says, .michelle-Says{
    height: 55vh;
    width: 80%;
    background-color: #f7eced;
    padding: 20px 30px;
    border-radius: 20px;
}
.jessica-Says p, .darren-Says p, .michelle-Says p{
    line-height: 1.5;
    color: #42383b;
    text-align: left;
}
.quote-icon, .JessicaImg{
    width: 50px;
    height: 90px;
    font-size: 50px;
    color: #ef233c;
}
.JessicaImg img{
   height: 60%;
}
.JessicaImg{
   display: grid;
   grid-template-columns: 1fr 1fr;
   width: 100%;
   align-items: center;
}
.JessicaImg p{
    font-size: 14px;
    font-weight: 700;
    color: black;
    text-align: center;
}
.darren-Says{
    margin-top: 50px;
}
/* How it Worsks */
.works{
    height: 80vh;
    width: 100%;
    background-color: #f7eced;
    text-align: center;
    padding-top: 100px;
}
.works h1{
    font-size: 40px;
}
.works p{
    color: #42383b;
    line-height: 2;
}
.steps{
    height: 200px;
    width: 80%;
    background-color: white;
    border: 2px solid #d1d1d1;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}
.three-Step{
    display: grid;
    justify-items: center;
    align-items: center;
    margin-top: 100px;
}
.Iconn{
    float: left;
    font-size: 20px;
    border: 2px solid #ef233c;
    border-radius: 30px;
    text-align: center;
    padding: 10px 10px;
    color: #ef233c;
    margin-right: 10px;
}
.shopStyle, .pickurFit, .chechOut{
    font-size: 14px;
    border-right: 1px solid #d1d1d1;
    padding: 10px 10px;
    text-align: left;
}
.chechOut{
    border-right: none;
}
/* Off on your first order */
.offHead{
    width: 100%;
    display: grid;
    justify-items: center;
    padding-top: 10%;
}
.TiTle{
    text-align: center;
}
.TiTle h1{
    font-size: 45px;
}
.TiTle p{
    color: #42383b;
    line-height: 5;
}
input[type="email"]{
    height: 40px;
    width: 75%;
    border: 1px solid #8a8888;
    border-radius: 5px;
    background-color: #fafafa;
}  
input[type="email"]::placeholder{
    color: #8a8888;
    padding-left: 10px;
    font-size: 16px;
}
.subBtn{
    height: 40px;
    width: 20%;
    border: none;
    border-radius: 5px;
    background-color: #ef233c;
    color: white;
}
.subBtn:hover{
    background-color: #ff334c;
    cursor: pointer;
}
input[type="email"]:hover{
    border: 1px solid #ff334c;
}
input[type="email"]:focus{
    box-shadow: 0px 0px 8px 3px #edc7c7;
    outline: none;
}
.styleImg{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 80%;
    grid-gap: 20px;
    margin-top: 50px;
}
.styleImg img{
     border-radius: 20px;
     width: 100%;
}
.followus{
   text-align: center;
   width: 20%;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
}
.followus i{
    float: right;
    width: 170%;
    color: #ef233c;
    font-size: 25px;
}
.followus h2{
    font-size: 15px;   
}
/* Delivery and Payment */
.deliverySection{
    width: 100%;
    background-color: #f7eced;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    margin-top: 50px;
    padding: 50px 0; 
}
.freeDelivery i, .quickDelivery i, .securePay i, .custServise i{
    text-align: center;
    font-size: 30px;
    color: #ef233c;
}
.freeDelivery, .quickDelivery, .securePay, .custServise{
    text-align: center;
    line-height: 2;
}
.freeDelivery p, .quickDelivery p, .securePay p, .custServise p{
    color: #42383b;
}
.freeDelivery h4, .quickDelivery h4, .securePay h4, .custServise h4{ 
    color: black;
}
/* Footer Box */
.last-Box{
    width: 100%;
    background-color: black;
    display: grid;
    justify-items: center;
}
.InBox{
    width: 80%;
     display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    text-align: left;
    padding-top: 50px;
    padding-bottom: 30px;
    border-bottom: 2px solid white;
}
.logoo{
    padding: 0px 20px;
    color: white;   
}
.logoo p, .logoo i{
    line-height: 2.5;
}
 .quickLink h4, .shopp h4, .help h4, .myProfile h4{
  line-height: 3;
  color: white;
  font-size: 17px;
}
.quickLink a, .shopp a, .help a, .myProfile a{
    line-height: 2;
     text-decoration: none;
  color: white;
}
.quickLink a, .shopp a, .help a, .myProfile a{
    font-size: 14px;
}
.quickLink a:hover, .shopp a:hover, .help a:hover, .myProfile a:hover{
    color: #ef233c;
}
/* <!-- CopyRight Symbol and Payment Img --> */
.copyright{
   width: 100%;
    background-color: black;
    color: white;
    padding: 25px 0;
    display: grid;
    justify-items: right;
    grid-template-columns: 1fr 1fr;
}
.copy{
    width: 80%;
}
.Imgg{
    width: 70%;
}

/* Responsive */
@media screen and (max-width:1300px){
    /* What Our Shopkeeper Says */
    .three-Says{
        grid-template-columns: 1fr; 
    }
    .shopkeeperSays{
        height: 250vh;
    } 
}
@media screen and (max-width:1025px){
    /* Header Background Image and blackk shade*/
    .bgImg,.imgShade{
        height: 70vh;
       }
}
@media screen and (max-width:825px){
     /* Header Background Image and blackk shade*/
    .bgImg,.imgShade{
        height: 60vh;
    }
    .menu,.first-order-off,.menu-icons{
        display: none;
    }
    /* Bg Img Header */
    .headerTitel{
       text-align: center;
    }
    .headerTitel h1{
        font-size: 30px;
    }
    .headerTitel p{
        font-size: 14px;
    }
    .titel{
        height: 60vh;
    }
    /* New Arrivals Section */
    .New-Arrival-Img,.best-Img{
        grid-template-columns: 1fr 1fr;
        margin-top: 50px;
    }
    .new-arrival-section{
        grid-template-columns: 4fr;
        text-align: center;
        display: grid;
        justify-items: center;
    }
    .see-new-Btn{
        margin-top: 10px;
        width: 40%;
    }
    /* Category Images */
    .category-Img{
        grid-template-columns: 1fr;
    }
    /* How it works */
    .steps{
        grid-template-columns: 1fr;
        height: 300px;
    }
    .shopStyle, .pickurFit, .chechOut{
        border-bottom: 2px solid #d1d1d1;
        border-right: none;
       }
    .chechOut{
        border-bottom: none;
    }
     /* Off on your first order */ 
    .styleImg{
        grid-template-columns: 1fr 1fr;
        margin-top: 50px;
    }
    .TiTle h1{
        font-size: 30px;
    }
    /* Delivery and Payment */
    .deliverySection{
        grid-template-columns: 1fr;
    }
    .followus{
        width: 50%;
    }
    /* Footer Box */
    .InBox{
        grid-template-columns: 1fr;
    }
    /* <!-- CopyRight Symbol and Payment Img --> */
    .copyright{
        grid-template-columns: 1fr;
    }
}
/* Exclusive Jacket Section */
@media (max-width: 700px) {
  .imageGrial img {
    display: none;
  }

  .imageGrial {
    height: auto;
    margin-top: 5%;
  }

  .imageGrial .data {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
    margin: 20px auto;
  }

  .imageGrial .data h1 {
    font-size: 18px;
  }

  .imageGrial .data p {
    font-size: 15px;
  }

  .dataTag {
    left: 0;
    display: inline-block;
  }
}

@media screen and (max-width:500px){
    /* Bg Img Middle Content */
    .titel{
        height: 50vh;
    } 
}